.logo_container{
    position: relative;
    display: block;
    width: auto;
    height: 100%;

    a{
        position: relative;
        display: block;
        width: auto;
        height: 100%;

        img{
            position: relative;
            display: block;
            width: auto;
            height: 100%;
        }
    }
}